/* @override http://tvedt.medialog.no/++theme++medialog.tvedttheme/++theme++medialog.tvedttheme/assets/css/navigation.css */

/* @override http://tvedt.medialog.no/++theme++medialog.tvedttheme/++theme++medialog.tvedttheme/assets/css/navigation.css */


/* @group dropdown */

 
ul.submenu {
	width: 100%;
	top:  0px;
	left: 0;
	right: 0;
 	display: none;
	position: absolute;
	height: 150px;

}
#portal-globalnav  ul.submenu {
	z-index:3;
}
#portal-globalnav li:hover ul.submenu{
	display: block;
 
}
#portal-globalnav ul.submenu a  {
 background:transparent;
 color: transparent;
	background: oldlace;
	display: inline-block;
	line-height: 125px;
	width: 200px;
	height: 200px;
}
#portal-globalnav ul.submenu a:hover {
  color:  red;
 
}



/* */
  
/* @end */


@media  (max-width: 1000px) {
	#portal-globalnav  {
		clear: both;
		margin:  auto ;
		display: none;
		z-index: 95;
		background: white;
	    position: relative;
	    padding-left: 0;
	}
	
	#portal-globalnav li {
		display: block;
		margin: 5px;
		position: relative;
		border: 1px solid #aaa;
		border-radius: 5px;
		moz-border-radius: 5px;
		background: linear-gradient(to bottom, #FFFFFF 0%, #E1E1E1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	}
	
	#portal-globalnav   li.expanded:hover {
		background: linear-gradient(to bottom, #FFFFFF 0%, #E1E1E1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	}
	
	#portal-globalnav li.expanded a:hover {
		color: #000;
		font-weight: bold;
	}
	
	#portal-globalnav  li a {
		background: transparent;
		padding: 10px 3%;
		color: #333;
		width: auto;
		line-height: 20px;
		font-size: 120%;
		display: block;
	}
	

	#portal-globalnav   li:hover {
		background: linear-gradient(to bottom, #DDD 0%, #777 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	}
	
	#portal-globalnav   li a:hover {
		color: #FFF;
	}
	
		
		
	.globalnav li a.slide,
	.globalnav li.noChildren a,
	#portal-globalnav.mobileNavigation li.noChildren a,
	#portal-globalnav.mobileNavigation li a.loadChildren {
		margin-right: 0;
	}
	
	#portal-globalnav.mobileNavigation li a.loadChildren {
		background: url(++resource++ftw.mobilenavigation/expandme-navi.png) no-repeat center center;
		position: absolute;
		width: 60px;
		font-size: 1px;
		padding-left: 0;
		padding-right: 0;
		top: 0;
		right: 0px;
	}
	
	#portal-globalnav.mobileNavigation li.expanded > a.loadChildren {
		background: url(++resource++ftw.mobilenavigation/collapseme-navi.png) no-repeat center center;
	}
	
	#portal-globalnav.mobileNavigation li.loading > a.loadChildren {
		background: url(++resource++ftw.mobilenavigation/spinner.gif) no-repeat center center;
	}
	
	#portal-globalnav.mobileNavigation li > ul {
		display: none;
	}
	
	#portal-globalnav.mobileNavigation li.expanded > ul {
		display: block;
	}
	
	 
	
	 
	ul#portal-globalnav.mobileNavigation  > li.expanded > ul,
	ul#portal-globalnav.mobileNavigation  .loadChildren {
		display: none;
	}
	
	ul#portal-globalnav.mobileNavigation  > li.expanded > ul,
	ul#portal-globalnav.mobileNavigation  .loadChildren {
		display: none;
	}

}

@media  (min-width: 1000px) {
	
	
#portal-globalnav  {
	 z-index: 95;
	position: relative;
	top:  13px;
	padding-left: 20em;
	}
	
	#portal-globalnav li {
		display: block;
		margin: 5px;
		position: relative;
		border: 1px solid #aaa;
		border-radius: 5px;
		moz-border-radius: 5px;
		background: linear-gradient(to bottom, #FFFFFF 0%, #E1E1E1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		display: inline-block;
 		line-height: 1.4em;
 
	}
	
	
 	a#toggle_navigation {
		display: none;
	}
	
	#portal-globalnav li {
		display: block;
		float: left;
	}
	
	#portal-globalnav li a {
		padding: 0px 8px;
		color: #333;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 9pt;
	}
	
 
	
	#portal-globalnav li a:hover {
		text-decoration: none;
	}
	
	#portal-globalnav li a:hover,
	#portal-globalnav li.selected a {
	color: #176198;
	}


}

.mobileButtons a#toggle_navigation {
	background: white url(++theme++medialog.tvedttheme/assets/images/1400610971_menu-24.png);
	background-position: center;
	background-repeat: no-repeat;
}

.mobileButtons a#toggle_search {
	background: white url(++theme++medialog.tvedttheme/assets/images/1400613794_11_Search.png);
	background-position: center;
	background-repeat: no-repeat;
}

.mobileButtons a#toggle_usermenu {
	background: white url(++theme++medialog.tvedttheme/assets/IcoMoon/Icons/png/32px/lock.png);
	background-position: center;
	background-repeat: no-repeat;
}



.mobileButtons {
	float: right;
	margin: 0;
	display: block;
	z-index: 4;
    list-style:none;
    padding-left: 0;
    margin-top: 0.7em;
}

.mobileButtons a {
	width: 24px;
	height: 24px;
	padding: 16px;
	display: block;
	background: url(++resource++ftw.mobilenavigation/mobile_buttons.png) no-repeat center center #aaa;
	float: right;
}


.mobileButtons li {
    display: block;
	float:right;
}

 
  #portal-personaltools dt.actionMenuHeader,
  #portal-searchbox {
	display: none;
	padding: 0;
}



body.mobileNaviLoaded #portal-personaltools {
	width: 100%;
	position: absolute;
	margin-top: 52px;
	background-color: transparent;
}

body.mobileNaviLoaded #portal-personaltools a {
	font-size: 150%;
}

#portal-searchbox {
	clear:  both;
	width: 100%;
	background: #EEEEEE;
	margin: 0;
 
}

 div.searchSection {
	display: none;
}

  form#livesearch0 {
	margin: 20px;
}

   #searchGadget {
	font-size: 18px;
	line-height: 40px;
	padding-left: 12px;
	border-radius: 8px;
	margin: 0;
}

   .searchButton {
	font-size: 24px;
	height: 44px;
	margin-left: 12px;
	padding: 3px;
}

    div.LSBox {
	padding: 10px;	
	margin: 0;
}
